@model List < Mr.brand_store.Models.Product>
@{
    ViewBag.Title = "Jeans";
}
<style>
    #boo {
  
        text-align:left;
        color:brown;

    }
</style>

<h2 style="text-align:center">Jeans</h2>

       
            @foreach(var x in Model){
  
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" )>

                <p style="text-align:center;color:firebrick;font-size:medium; ">@x.name</p>
               <a class="thumbnail group" rel="g1" href="@Url.Content(x.path)"><img class="img-responsive " src="@Url.Content(x.path)" alt=""/></a>
                <div class="row">
                <div class="col-md-6 col-lg-4 col-xs-2" ><p id="boo">@Html.Label("Price   : ",new {@class="control-label"})
                     @x.price</div>
                    <div class="col-md-6 col-lg-8 xs-3">@Html.Label("Rating : ",new {@class="control-label"})
                    @x.rating
                </div>
                    @{
                    var s = Session["Id"];
                    if(s!=null){
                    <form action="/Cart/AddToCart?uid=@Session["Id"]&pid=@x.Id" method="post">
                        <input type="number" value="1" name="quantity" />
                        <input type="submit" value="Add to Cart" class="btn btn-success"/>
                    </form>
                        } 
                     }
                   
                  </div>      
             </div>
                
            }
            
    
            
            
            
            
           

            